<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/reset.css">
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="main">
        <form action="/cart" class="form__buy" method="POST"></form>
        <!-- start slider -->
        <div class="slider">
            <div class="slider__icon-left"><i class="fas fa-arrow-left"></i></div>
            <img src="./assets/slide-image/Ảnh-bìa-FB-09.04.2021.jpg" alt="" class="no_active image__slider">
            <img src="./assets/slide-image/Ảnh-web-04.jpg" alt="" class="no_active image__slider">
            <img src="./assets/slide-image/ảnh-web-2.jpg" alt="" class="image__slider">
            <div class="slider__icon-right"><i class="fas fa-arrow-right"></i></div>
        </div>
        <!-- end slider -->

        <!-- start new -->
        <div class="new">
            <h2>HÀNG MỚI VỀ</h2>
            <div class="new__container">
                <div class="new__icon-left new__icon"><i class="fas fa-chevron-circle-left"></i></div>
                {{#each bestSelling}}
                <div class="item-new">
                    <img src={{this.path}} alt="">
                    <div class="item-new__desc">
                        <div class="item-new__des-title">Ao ngan tay</div>
                        <div class="item-new__des-price">500.000</div>
                    </div>
                    <div class="overlay__item-new">
                        <div>
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div>
                            <i class="fas fa-info-circle"></i>
                        </div>
                    </div>
                </div>
                {{/each}}
                
                <div class="new__icon-right new__icon"><i class="fas fa-chevron-circle-right"></i></div>
            </div>
        </div>
        <!-- end new -->
        <!-- start selling-product -->
        <div class="selling-product">
            <h2>SẢN PHẨM BÁN CHẠY</h2>
            <div class="selling-product__container">
            {{#each bestSelling}}
                <div class="selling-product__container-item">
                    <img src={{this.path}} alt="">
                    <div class="desc__selling-item">
                        <div class="desc__selling-item-title">{{this.name}}</div>
                        <div class="desc__selling-item-price">{{this.price}}</div>
                    </div>
                    <button class="buy__button {{this._id}}"><i class="fas fa-shopping-cart"></i>  Thêm vào giỏ hàng</button>
                </div>
            {{/each}}
            </div>
        </div>
        <!-- end selling product -->
    </div>
</body>
<script>
    let buyButton=document.querySelectorAll('.buy__button');
    let itemBuy=[];
    buyButton.forEach((item)=>{
        item.addEventListener('click',()=>{
            var id=item.className.split(' ')[1];
            itemBuy.push(id);
            console.log(itemBuy);
        })
    });
    let buy=document.querySelector('.user-nav__cart');
    let formBuy=document.querySelector('.form__buy');
    buy.addEventListener('click',async()=>{
        try{
            await itemBuy.forEach((item)=>{
                let inputE=document.createElement('input');
                inputE.innerHTML=`<input type="text" name="${item}" value="${item}">`;
                
                formBuy.appendChild(inputE);
            });
            console.log(formBuy);
            formBuy.submit();
        }catch(e){
            throw new Error(e);
        }    
    });
</script>
<script src="./js/home.js"></script>
</html>